body {
    background-color: #1875ae;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.board-title {
    font-weight: bold;
    color: white;
    margin-left: 12px;
}

.card, .list {
    display: inline-block;
    border-radius: 4px;
}

.card {
    background-color: white;
    width: 280px;
    display: inline-block;
    margin: 3px 10px 3px 10px;
}

.card:hover {
    background-color: lightyellow;
}

.card-text {
    margin-left: 12px;
}

.title-text {
    font-weight: bold;
    margin-left: 10px;
}

.list {
    background-color: #ddd;
    width: 300px;
    margin-left: 10px;
}

.add-a-card {
    /* margin-left: 10px; */
    margin: 3px 10px 10px 10px;
}

.add-a-text, .add-a-button {
    border-radius: 4px;
    border: none;
}

.add-a-text {
    height: 24px;
    width: 230px;
    padding-left: 6px;
    margin-right: 6px;
    font-size: 14px;
}

.add-a-button {
    padding: 0 8px 0 8px;
    height: 27px;
    background-color: #eee;
}

.add-a-button:hover {
    background-color: lightgreen;
    color: white;
}